<web-app>  
  <servlet>
  	<servlet-name>StudentServlet</servlet-name>
  	<servlet-class>com.esh.StudentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>StudentServlet</servlet-name>
  	<url-pattern>/student</url-pattern>
  </servlet-mapping>
 
   <welcome-file-list>  
  	 <welcome-file>home.html</welcome-file>  
   </welcome-file-list>  
</web-app>  